<ion-content>
  <!-- <ion-toolbar>
      <ion-title>Calcola la tariffa del tuo viaggio!</ion-title>

  </ion-toolbar> -->

  <!-- <ion-toolbar>
      <ion-title>Cerca il costo di un viaggio tra due Comuni</ion-title>
  </ion-toolbar> -->
  <div padding text-center>
    <h2>Calcola la tariffa del tuo viaggio!</h2>
    <h4 style="font-size:11pt">Lorem ipsum dolor sit amet, 
      consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam </h4>
  </div>


  <ion-grid> 
      <ion-row>
          <ion-col size="12">
            <ion-auto-complete 
            [multi]="false"
            [dataProvider]="suggestService"
            [disabled]="false"
            [options]="originOptions"
            (itemSelected)="originSelected($event)"></ion-auto-complete>
          </ion-col>
          
      </ion-row>
      <ion-row>
          
          <ion-col size="12">
            <ion-auto-complete 
            [multi]="false"
            [dataProvider]="suggestService"
            [disabled]="false"
            [options]="destinationOptions"
            (itemSelected)="destinationSelected($event)"></ion-auto-complete>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12" size-sm>
            <ion-item>
                <ion-label style= "color: darkgray">Data Inizio Viaggio</ion-label>
                <ion-datetime (ionChange)="dataChanged()" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY" [(ngModel)]="dataString"  [min]="this.getCurrDate()" placeholder="Seleziona una data"></ion-datetime>
              </ion-item>
              
        </ion-col>
        <ion-col  size="12" size-sm>
            <ion-item>
                <ion-label style= "color: darkgray">Ora Inizio Viaggio</ion-label>
                <ion-datetime [(ngModel)]="oraString"  display-format="HH:mm" picker-format="HH:mm" [min]="this.getCurrDate()"></ion-datetime>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col  size="12">
              <ion-button expand="block" [disabled]='this.originString == null || this.destinationString == null' (click)="runSearch()">Calcola Tariffa</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid> 

<!--  
   <ion-button  [routerLink]="['/directions/2']">test</ion-button> 
   -->



<!--    START LIST  -->

<ion-card *ngFor="let result of results" >
  <ion-card-content>
      <ion-grid>
        <ion-row text-wrap>
              <ion-col size="12" size-sm="9">
                <ion-list>
                  <ion-item no-padding *ngFor="let step of result.steps; let i = index" >

                    <div style="
                    float: left;
                    width:auto;
                    min-width: 80px !important; 
                    ">
                        <ion-img style="width:30px; float:left" *ngIf="step.line.vehicle.local_icon != null" src="{{step.line.vehicle.local_icon}}"></ion-img>
                        <ion-img style="width:30px; float:left" *ngIf="step.line.vehicle.local_icon == null && step.line.vehicle.icon != null" src="{{step.line.vehicle.icon}}"></ion-img>
                        <ion-button small style="float:left; margin-top: 2px;"> {{step.line.short_name}}  </ion-button>
                    </div>
                    
                    <ion-grid>
                      <ion-row>
                        <ion-col size="12" size-sm="7">
                          <ion-text color="dark">
                            <h6> {{step.departure_stop.name}} ({{step.departure_time.text}}) <br>  
                              {{step.arrival_stop.name}} ({{step.arrival_time.text}})<br> 
                              ({{step.num_stops}} fermate) 
                            </h6>  
                          </ion-text>
                        </ion-col>


                        <ion-col size="12" size-sm="5">
                            <ion-badge color="secondary" (click)="agencyurlClicked(step.line.agencies[0].url)" >{{step.line.agencies[0].name}}</ion-badge>
                           <!--> href="{{step.line.agencies[0].url}}"<-->
                          </ion-col>

                      </ion-row>
                    </ion-grid>

                    
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col align-self-center size="12"  size-sm="3">            
                {{result.departure_time.text}}   <ion-icon name="ios-arrow-forward">  </ion-icon> {{result.arrival_time.text}} 
                <br> 
                Durata: {{result.duration.text}}  
              </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid [routerLink]="['/','directions', result.fare.id]">
          <ion-row text-wrap>
            <ion-col size=12 >
      
                
              <div class="ion-text-end"> 
                <!--  
                <ion-button fill="outline" slot="end">
                      <strong>TARIFFA {{result.fare.id}}</strong> &nbsp;zone {{result.fare.zone_id}}  &nbsp; {{result.fare.price}}&euro; vale {{result.fare.duration}}' 
                      &nbsp;  <ion-icon name="arrow-round-forward"></ion-icon> 
                    </ion-button>
                     --> 
                  <ion-text color="primary">
                    
                        <h2>
                          <a href="javascript:;">
                            <strong>TARIFFA {{result.fare.id}}</strong>&nbsp;zone {{result.fare.zone_id}}  &nbsp; {{result.fare.price}}&euro; vale {{result.fare.duration}}'  &nbsp; 
                            <ion-icon size="large" name="arrow-dropright"></ion-icon> 
                          </a>
                          </h2>
                  </ion-text>
              </div>
              <div *ngFor="let color of result.fare.zone_color" [ngStyle]="getColorZone(color)"  align-self-end>
                  &nbsp;&nbsp;
              </div>
            </ion-col>
           <!--  <ion-button fill="outline" slot="end">View</ion-button>  -->

          </ion-row>
        </ion-grid>

  </ion-card-content>

  
</ion-card>





</ion-content>
