<ion-content>



  <ion-grid> 
      <ion-row>
          <ion-col size="12">
            <ion-auto-complete 
            [multi]="false"
            [dataProvider]="suggestService"
            [disabled]="false"
            [options]="originOptions"
            (itemSelected)="originSelected($event)"></ion-auto-complete>
          </ion-col>
          
      </ion-row>
      <ion-row>
          
          <ion-col size="12">
            <ion-auto-complete 
            [multi]="false"
            [dataProvider]="suggestService"
            [disabled]="false"
            [options]="destinationOptions"
            (itemSelected)="destinationSelected($event)"></ion-auto-complete>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12" size-sm>
            <ion-item >
                <ion-label style= "color: darkgray">Data/Ora Inizio Viaggio</ion-label>
                <ion-datetime (ionChange)="dataChanged()" display-format="DD/MM/YYYY HH:mm" [(ngModel)]="dataString"  [min]="this.getCurrDate()" placeholder="Seleziona una data"></ion-datetime>
              </ion-item>
              
        </ion-col>
        <!--
        <ion-col  size="12" size-sm>
            <ion-item>
                <ion-label style= "color: darkgray">Ora Inizio Viaggio</ion-label>
                <ion-datetime [(ngModel)]="oraString" display-format="HH:mm" [min]="this.getCurrDate()"></ion-datetime>
            </ion-item>
        </ion-col>
      -->
      </ion-row>
      <ion-row>
          <ion-col  size="12">
              <ion-button expand="block" [disabled]='this.originString == null || this.destinationString == null' (click)="runSearch()">Calcola Tariffa</ion-button>
            </ion-col>
      </ion-row>
  </ion-grid> 

  

<!--  
   <ion-button  [routerLink]="['/directions/2']">test</ion-button> 
   -->



<!--    START LIST  -->

<ion-card *ngFor="let result of results" >
    <ion-card-header>
        
        <ion-card-title *ngIf =" result.fare.price < 90"    >  
<ion-item [routerLink]="['/','directions', result.fare.id +'_'+ result.fare.zone_id]">    
  <ion-label text-wrap>        
    <div class="ion-text-end"> 
                <ion-text color="primary">

         <strong> TARIFFA {{result.fare.id}} </strong> &nbsp;
            zone {{result.fare.zone_id}}  &nbsp; 
            {{result.fare.price}}&euro; vale {{result.fare.duration}}'&nbsp;          

            </ion-text>
          </div>
          <div *ngFor="let color of result.fare.zone_color" [ngStyle]="getColorZone(color)"  align-self-end>
              &nbsp;&nbsp;
    </div>
  </ion-label>
          <ion-icon size="large" name="arrow-dropright"></ion-icon> 

        </ion-item>

        </ion-card-title>

        <ion-card-title *ngIf =" result.fare.price === 90"    >  
          <ion-item >    
            <ion-label text-wrap>        
              <div class="ion-text-start"> 
                          <ion-text color="danger">
                     <strong>TARIFFA</strong> non determinabile per indisponibilità di dati &nbsp;
                      </ion-text>
                    </div>
            </ion-label>
                  </ion-item>
                  </ion-card-title>

                  <ion-card-title *ngIf =" result.fare.price > 90"    >  
                    <ion-item >    
                      <ion-label text-wrap>        
                        <div class="ion-text-start"> 
                                    <ion-text color="danger">
                                      <strong>TARIFFA</strong> non determinabile perchè il viaggio comprende servizi non integrati nello STIBM &nbsp;
                                    </ion-text>
                              </div>
                      </ion-label>
                            </ion-item>
                            </ion-card-title>




      </ion-card-header>
  <ion-card-content>
      <ion-grid>
        <ion-row text-wrap>
              <ion-col size="12" size-sm="9">
                <ion-list>
                  <ion-item no-padding *ngFor="let step of result.steps; let i = index" >

                    <div style="
                    float: left;
                    width:auto;
                    min-width: 80px !important; 
                    ">
                        <ion-img style="width:30px; float:left" *ngIf="step.line.vehicle.local_icon != null" src="{{step.line.vehicle.local_icon}}"></ion-img>
                        <ion-img style="width:30px; float:left" *ngIf="step.line.vehicle.local_icon == null && step.line.vehicle.icon != null" src="{{step.line.vehicle.icon}}"></ion-img>
                        <ion-button  fill="outline" small style="float:left; margin-top: 2px;" disabled = True> {{step.line.short_name}}  </ion-button>
                    </div>
                    
                    <ion-grid>
                      <ion-row>
                        <ion-col size="12" size-sm="7">
                          <ion-text color="dark">
                            <h6> {{step.departure_stop.name}} ({{step.departure_time.text}}) <br>  
                              {{step.arrival_stop.name}} ({{step.arrival_time.text}})<br> 
                              ({{step.num_stops}} fermate) 
                            </h6>  
                          </ion-text>
                        </ion-col>


                        <ion-col size="12" size-sm="5">
                            <ion-badge   onMouseOver="this.style.color= '#F5F5F5'" onMouseOut="this.style.color='#FFFFFF'"  style="cursor: pointer;" color="secondary" (click)="agencyurlClicked(step.line.agencies[0].url)" >{{step.line.agencies[0].name}}</ion-badge>
                           <!--> href="{{step.line.agencies[0].url}}"<-->
                          </ion-col>

                      </ion-row>
                    </ion-grid>

                    
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col align-self-center size="12"  size-sm="3">            
                {{result.departure_time.text}}   <ion-icon name="ios-arrow-forward">  </ion-icon> {{result.arrival_time.text}} 
                <br> 
                Durata: {{(result.duration.value/60 | number:'1.0-0')}}'  
              </ion-col>
        </ion-row>
      </ion-grid>

                 <!--  <ion-button fill="outline" slot="end">View</ion-button>  -->

                <!--  

      <ion-grid [routerLink]="['/','directions', result.fare.id]">
          <ion-row text-wrap>
            <ion-col size=12 >
      
                
              <div class="ion-text-end"> 
      
                  <ion-text color="primary">
                    
                        <h2>
                          <a href="javascript:;">
                            <strong>TARIFFA {{result.fare.id}}</strong>&nbsp;zone {{result.fare.zone_id}}  &nbsp; {{result.fare.price}}&euro; vale {{result.fare.duration}}'  &nbsp; 
                            <ion-icon size="large" name="arrow-dropright"></ion-icon> 
                          </a>
                          </h2>
                  </ion-text>
              </div>
              <div *ngFor="let color of result.fare.zone_color" [ngStyle]="getColorZone(color)"  align-self-end>
                  &nbsp;&nbsp;
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      --> 

  </ion-card-content>

  
</ion-card>


