<style>
  
  ion-col > div {
    /* background-color: #f7f7f7; */
    /*border: solid 1px #ddd;*/
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    h4 {
    font-weight: bold;
}
  }
</style>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Dettaglio Tariffa {{idSelected}} &nbsp;&nbsp;zone: {{zone_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size= "12">
        <div class="ion-text-center ion-text-uppercase bg_blu"><h4>Titoli di viaggio occasionali</h4></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card >
          <ion-card-header>
            <ion-card-title>
              <div class="ion-text-center ion-text-capitalize">
                {{information.ordinario.ord}} &euro;
              </div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <div class="ion-text-center ion-text-capitalize">
                Ordinario
              </div>
          </ion-card-content>
          </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-title> 
              <div class="ion-text-center ion-text-capitalize">
                {{information.ordinario.giorn}} &euro;
              </div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center ion-text-capitalize">
              Giornaliero
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col >

      <ion-col size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <div class="ion-text-center ion-text-capitalize">           
              <ion-card-title> {{information.ordinario.tregiorn}} &euro;</ion-card-title>
            </div>
          </ion-card-header>
        <ion-card-content>
          <div class="ion-text-center ion-text-capitalize">   
            3 giorni
          </div>  
        </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>


      
          
          <ion-row >
              <ion-col size= "12">
                <div class="ion-text-center ion-text-uppercase bg_blu"><h4>Abbonamenti ordinari</h4></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm>
                <ion-card >
                  <ion-card-header>
                    <ion-card-title>
                      <div class="ion-text-center ion-text-capitalize">
                        {{information.abbordinario.sett}} &euro;
                      </div>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <div class="ion-text-center ion-text-capitalize">
                        Settimanale
                      </div>
                  </ion-card-content>
                  </ion-card>
              </ion-col>
        
              <ion-col size="12" size-sm>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title> 
                      <div class="ion-text-center ion-text-capitalize">
                        {{information.abbordinario.mensile}} &euro;
                      </div>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <div class="ion-text-center ion-text-capitalize">
                      Mensile
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col >
        
              <ion-col size="12" size-sm>
                <ion-card>
                  <ion-card-header>
                    <div class="ion-text-center ion-text-capitalize">           
                      <ion-card-title> {{information.abbordinario.annuale}} &euro;</ion-card-title>
                    </div>
                  </ion-card-header>
                <ion-card-content>
                  <div class="ion-text-center ion-text-capitalize">   
                    Annuale
                  </div>  
                </ion-card-content>
                </ion-card>
              </ion-col>
              </ion-row>
               
              <ion-row>
                  <ion-col size= "12">
                    <div class="ion-text-center ion-text-uppercase bg_blu"><h4>Abbonamenti agevolati</h4></div>
                  </ion-col>
                </ion-row>

              <ion-row *ngIf="idSelected=='1 (Urbano Milano)'">
                  <ion-col size= "12" size-sm>
                      <ion-card>
                          <ion-card-header>
                            <ion-card-title> 
                              <div class="ion-text-center ion-text-capitalize">
                                <a href='https://nuovosistematariffario.atm.it/#agevolazioni' target="_blank">  Guarda le agevolazioni in ambito urbano del Comune di Milano </a>
                              </div>
                            </ion-card-title>
                          </ion-card-header>
                      </ion-card>
                  </ion-col>
                </ion-row>

          
           
                <ion-row *ngIf="idSelected!='1 (Urbano Milano)'">
                  <ion-col size="12" size-sm>
                    <ion-card >
                      <ion-card-header>
                        <ion-card-title>
                          <div class="ion-text-center ion-text-capitalize">
                            {{information.abbagevolato.mensile}} &euro;
                          </div>
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <div class="ion-text-center ion-text-capitalize">
                            Mensile under26 / over65
                          </div>
                      </ion-card-content>
                      </ion-card>
                  </ion-col>
            
                  <ion-col size="12" size-sm>
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title> 
                          <div class="ion-text-center ion-text-capitalize">
                            {{information.abbagevolato.annuale}} &euro;
                          </div>
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <div class="ion-text-center ion-text-capitalize">
                            Annuale under26 / over65

                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ion-col >
            
                  <ion-col size="12" size-sm>
                    <ion-card>
                      <ion-card-header>
                        <div class="ion-text-center ion-text-capitalize">           
                          <ion-card-title> {{information.abbagevolato.annualeisee}} &euro;</ion-card-title>
                        </div>
                      </ion-card-header>
                    <ion-card-content>
                      <div class="ion-text-center ion-text-capitalize">   
                          Annuale ISEE < 6.000 &euro;
                      </div>  
                    </ion-card-content>
                    </ion-card>
                  </ion-col>
                  </ion-row>
                   




  </ion-grid>


</ion-content>
